<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6945602608405209" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        Awesome ChatGPT Prompts is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <script>
      document.querySelectorAll("h2[id^=act] + p + blockquote").forEach((x) => {
        x.setAttribute('contentEditable', true);
        const button = document.createElement('button');
        button.style.border = '0';
        button.style.borderRadius = '3px';
        button.style.fontSize = '1rem';
        button.style.marginRight = '0.5rem';
        button.style.padding = '0';
        button.style.backgroundColor = 'transparent';
        button.innerHTML = '✂️';
        button.addEventListener('click', async () => {
          if (navigator.clipboard) {
            await navigator.clipboard.writeText(x.innerText);
            alert('Prompt is copied, now paste this into ChatGPT.');
          } else {
            alert('Your browser does not support clipboard copy. Please select the prompt and copy.')
          }
        }, false);
        x.previousElementSibling.previousElementSibling.prepend(button);
      });
    </script>
    <style>video { max-width: 100% !important; }</style>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MSNHFWTE77"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MSNHFWTE77');
    </script>
  </body>
</html>
